.fundoLogin {
    background-image: url("https://i.pinimg.com/1200x/ea/88/1e/ea881ea2ca69e0a9c8565ce86bd1a0ae.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}